body{
	background-color: #0A0B0B;
	color: white;
	margin: 0px;
	padding: 0px;
}

#content{
	position: absolute;
	width: 90%;
	margin: 0px;
	padding: 0px;
	margin-left: 5%;
	z-index: 10;
}

iframe{
	display: block;
	margin: 40px auto 0px;
}

#closed-captions{
	display: block;
	margin: -65px auto;
	width: 550px;
}

#heartbeatInner{
	background-color: rgba(130,130,130,1);
    width: 80vw;
    height: 80vh;
    display: block;
    margin-left: 10vw;
    margin-top: 10vh;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 50px rgba(130,130,130,1);
    z-index: 1;
    position: absolute;
    opacity: 0;
}

#heartbeatOuter{
    width: 100%;
    height: 100vh;
    display: block;
    box-shadow: inset 0px 0px 61px 61px rgba(0,0,0,1);
    position: absolute;
    z-index: 1;
    opacity: 0;
}

#alertLeft{
	width: 1%;
    height: 100vh;
    position: absolute;
    opacity: 0;
}

#alertRight{
	width: 1%;
    height: 100vh;
    position: absolute;
    opacity: 0;
    right: 0;
}

#iconHolder{
    position: absolute;
    margin-left: calc(50% - 4vh);
    margin-top: 6vh;
    width: 8vh;
    height: 7vh;
    z-index: 100;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	width: 550px;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}
.voice1 { /* Computer guy */
	font-family: "Brenner Mono Regular";
	text-align: left;
    font-size: 17px;
}
.voice2 { /* Main guy */
	font-family: "Brenner Slab";
	text-align: right;
    font-weight: 200;
    margin-top: 30px;
    margin-right: 10px;
    font-style: Italic;
}
.voice2Alone{
	font-family: "Brenner Slab";
	text-align: center;
	font-weight: 200;
	margin-top: 24px;
}
.voice3 { /* Angry guy */
	font-family: "Brenner Sans";
	text-align: center;
	font-size: 21px;
	color: #BA2424;
	text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.voice4 { /* The other guy */
	font-family: "Brenner";
	text-align: left;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
/*.p0 span {
	opacity: 0;
	font-family: brenner;
}
.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-weight: 200;
}
.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
	font-weight: 400;
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
	font-weight: 600;
}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
	font-weight: 800;
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.25em;
	font-family: "brenner sans";
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;
	font-family: "brenner display";
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.25em;
	font-family: "brenner script";
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
	font-family: "brenner script";
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
	font-family: "brenner Sans condensed";
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
	font-family: "brenner mono";
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
	font-family: "brenner slab";
}*/


#disturbanceDiv{
    position: absolute;
    left: 50%;
}

#disturbanceDiv div{
    position: relative;
    left: -50%;
    font-size: 50px;
    text-align: center;
    font-family: "Brenner Mono Regular";
    margin-top: 31.5vh;
    z-index: 900;
    text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
    opacity: 0;
}

#metalicBackground{
    width: 100%;
    height: 100vh;
    background-image: url(metal.png);
    opacity: 0;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.sound5{
	background-color: #5A625F;
}

.sound11{
	background-color: #BBC2B2;
}

.sound14{
	background-color: #080E0E;
}

.sound15{
	background-color: #BBC2B2;
}

.sound16{
	background-color: #0A0A0E;
}


.sound0{
    animation: sound0BackgroundChange 20s linear;
}
@-webkit-keyframes sound0BackgroundChange {
    0% {
        background-color: #0A0B0B;
    }
    13% {
        background-color: #0A0A0E;
    }
    25% {
    	background-color: #030203;
    }
    35% {
    	background-color: #030203;
    }
    45% {
        background-color: #1F2A2F;
    }
    98% {
        background-color: #1F2A2F;
    }
    99% {
        background-color: #5A625F;
    }
    100% {
        background-color: #5A625F;
    }
}
.sound0 #heartbeatOuter{
	animation: sound0heartbeat 20s linear;
}
.sound0 #heartbeatInner{
	animation: sound0heartbeat 20s linear;
}
@-webkit-keyframes sound0heartbeat {
	0% {
        opacity: 0;
    }
    7% {
        opacity: 0;
    }
    8% {
        opacity: 0.2;
    }
    9% {
        opacity: 0.2;
    }
    12% {
        opacity: 0;
    }
    16% {
        opacity: 0;
    }
    17% {
        opacity: 0.2;
    }
    18% {
        opacity: 0.2;
    }
    21% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    26% {
        opacity: 0.2;
    }
    27% {
        opacity: 0.2;
    }
    30% {
        opacity: 0;
    }
    34% {
        opacity: 0;
    }
    35% {
        opacity: 0.2;
    }
    36% {
        opacity: 0.2;
    }
    39% {
        opacity: 0;
    }
    43% {
        opacity: 0;
    }
    44% {
        opacity: 0.2;
    }
    45% {
        opacity: 0.2;
    }
    48% {
        opacity: 0;
    }
    53% {
        opacity: 0;
    }
    54% {
        opacity: 0.2;
    }
    55% {
        opacity: 0.2;
    }
    58% {
        opacity: 0;
    }
}

.sound1 #alertLeft{
	animation: alertGoRed 2s linear;
	background-color: #AF140F;
	box-shadow: 10px 0px 34px 72px #AF140F;
}
.sound1 #alertRight{
	animation: alertGoRed 2s linear;
	background-color: #AF140F;
	box-shadow: 10px 0px 34px 72px #AF140F;
}
@-webkit-keyframes alertGoRed {
	0% {
        opacity: 0;
        width: 1%;
    }
    10% {
        opacity: 0.8;
        width: 8%;
    }
    12% { width: 7.7%; }
    14% { width: 8.1%; }
    16% { width: 7.9%; }
    18% { width: 8.2%; }

	20% { width: 7.9%; }
    22% { width: 8.4%; }
    24% { width: 7.6%; }
    26% { width: 8.2%; }
    28% { width: 8%; }

    30% { width: 8.4%; }
    32% { width: 7.9%; }
    34% { width: 8.1%; }
    36% { width: 7.7%; }
    38% { width: 8%; }

    40% { width: 7.9%; }
    42% { width: 8.4%; }
    44% { width: 7.6%; }
    46% { width: 8.2%; }
    48% { width: 8%; }
    
    50% { width: 8.4%; }
    52% { width: 7.9%; }
    54% { width: 8.1%; }
    56% { width: 7.7%; }
    58% { width: 8%; }

    60% { width: 7.9%; }
    62% { width: 8.4%; }
    64% { width: 7.6%; }
    66% { width: 8.2%; }
    68% { width: 8%; }

    70% {
        opacity: 0.8;
        width: 8%;
    }
    100% {
        opacity: 0;
        width: 1%;
    }
}

.sound2 #alertLeft{
	animation: alertGoBlue 2s linear;
	background-color: #0028C3;
	box-shadow: 10px 0px 34px 72px #0028C3;
}
.sound2 #alertRight{
	animation: alertGoBlue 2s linear;
	background-color: #0028C3;
	box-shadow: 10px 0px 34px 72px #0028C3;
}
@-webkit-keyframes alertGoBlue {
	0% {
        opacity: 0;
        width: 1%;
    }
    10% {
        opacity: 0.8;
        width: 8%;
    }
    12% { width: 7.7%; }
    14% { width: 8.1%; }
    16% { width: 7.9%; }
    18% { width: 8.2%; }

	20% { width: 7.9%; }
    22% { width: 8.4%; }
    24% { width: 7.6%; }
    26% { width: 8.2%; }
    28% { width: 8%; }

    30% { width: 8.4%; }
    32% { width: 7.9%; }
    34% { width: 8.1%; }
    36% { width: 7.7%; }
    38% { width: 8%; }

    40% { width: 7.9%; }
    42% { width: 8.4%; }
    44% { width: 7.6%; }
    46% { width: 8.2%; }
    48% { width: 8%; }
    
    50% { width: 8.4%; }
    52% { width: 7.9%; }
    54% { width: 8.1%; }
    56% { width: 7.7%; }
    58% { width: 8%; }

    60% { width: 7.9%; }
    62% { width: 8.4%; }
    64% { width: 7.6%; }
    66% { width: 8.2%; }
    68% { width: 8%; }

    70% {
        opacity: 0.8;
        width: 8%;
    }
    100% {
        opacity: 0;
        width: 1%;
    }
}

.sound3 #content{
	animation: contentGoAllShaky1 2.7s linear;
}
@-webkit-keyframes contentGoAllShaky1 {
	0% {
        margin-top: 0px;
        transform: rotate(0deg);
    }
    18% {
    	margin-top: 0px;
        transform: rotate(0deg);
    }
    23% {
    	margin-top: 50px;
    	transform: rotate(-6deg);
    }
    25% {
    	margin-top: 54px;
    	transform: rotate(3deg);
    }
    27% {
    	margin-top: 48px;
    	transform: rotate(-4deg);
    }
    29% {
    	margin-top: 54px;
    	transform: rotate(2deg);
    }
    31% {
    	margin-top: 52px;
    	transform: rotate(-5deg);
    }
    33% {
    	margin-top: 58px;
    	transform: rotate(5deg);
    }
    35% {
    	margin-top: 44px;
    	transform: rotate(-1deg);
    }
    37% {
    	margin-top: 49px;
    	transform: rotate(2deg);
    }
    59% {
    	margin-top: 50px;
    	transform: rotate(6deg);
    }
    61% {
    	margin-top: -30px;
    	transform: rotate(-3deg);
    }
    79% {
    	margin-top: -37px;
    	transform: rotate(-4deg);
    }
    90%{
    	margin-top: 10px;
    	transform: rotate(2deg);
    }
    92%{
    	margin-top: 0px;
    	transform: rotate(0deg);
    }
    100%{
    	margin-top: 0px;
    	transform: rotate(0deg);
    }
}

.sound7 #content{
	animation: contentGoAllShaky2 2.7s linear;
}
@-webkit-keyframes contentGoAllShaky2 {
	0% {
        margin-top: 0px;
        transform: rotate(0deg);
    }
    18% {
    	margin-top: 0px;
        transform: rotate(0deg);
    }
    23% {
    	margin-top: 50px;
    	transform: rotate(-6deg);
    }
    25% {
    	margin-top: 54px;
    	transform: rotate(3deg);
    }
    27% {
    	margin-top: 48px;
    	transform: rotate(-4deg);
    }
    29% {
    	margin-top: 54px;
    	transform: rotate(2deg);
    }
    31% {
    	margin-top: 52px;
    	transform: rotate(-5deg);
    }
    33% {
    	margin-top: 58px;
    	transform: rotate(5deg);
    }
    35% {
    	margin-top: 44px;
    	transform: rotate(-1deg);
    }
    37% {
    	margin-top: 49px;
    	transform: rotate(2deg);
    }
    59% {
    	margin-top: 50px;
    	transform: rotate(6deg);
    }
    61% {
    	margin-top: -30px;
    	transform: rotate(-3deg);
    }
    79% {
    	margin-top: -37px;
    	transform: rotate(-4deg);
    }
    90%{
    	margin-top: 10px;
    	transform: rotate(2deg);
    }
    92%{
    	margin-top: 0px;
    	transform: rotate(0deg);
    }
    100%{
    	margin-top: 0px;
    	transform: rotate(0deg);
    }
}

.sound9 #content{
	animation: contentGoAllShaky3 2.7s linear;
}
@-webkit-keyframes contentGoAllShaky3 {
	0% {
        margin-top: 0px;
        transform: rotate(0deg);
    }
    5% {
    	margin-top: 50px;
    	transform: rotate(-6deg);
    }
    7% {
    	margin-top: 54px;
    	transform: rotate(3deg);
    }
    9% {
    	margin-top: 48px;
    	transform: rotate(-4deg);
    }
    11% {
    	margin-top: 54px;
    	transform: rotate(2deg);
    }
    13% {
    	margin-top: 52px;
    	transform: rotate(-5deg);
    }
    15% {
    	margin-top: 58px;
    	transform: rotate(5deg);
    }
    17% {
    	margin-top: 44px;
    	transform: rotate(-1deg);
    }
    19% {
    	margin-top: 49px;
    	transform: rotate(2deg);
    }
    41% {
    	margin-top: 50px;
    	transform: rotate(6deg);
    }
    43% {
    	margin-top: -30px;
    	transform: rotate(-3deg);
    }
    61% {
    	margin-top: -37px;
    	transform: rotate(-4deg);
    }
    72%{
    	margin-top: 10px;
    	transform: rotate(2deg);
    }
    74%{
    	margin-top: 0px;
    	transform: rotate(0deg);
    }
    100%{
    	margin-top: 0px;
    	transform: rotate(0deg);
    }
}



.sound3 #metalicBackground{
    animation: metalBackgroundShow1 2.7s linear;
}
@-webkit-keyframes metalBackgroundShow1 {
    0% {
        opacity: 0;
    }
    18% {
        opacity: 0;
    }
    19% {
        opacity: 0.1;
    }
    99% {
        opacity: 0.1;
    }
    100%{
        opacity: 0;
    }
}

.sound7 #metalicBackground{
    animation: metalBackgroundShow2 2.7s linear;
}
@-webkit-keyframes metalBackgroundShow2 {
    0% {
        opacity: 0;
    }
    18% {
        opacity: 0;
    }
    19% {
        opacity: 0.1;
    }
    99% {
        opacity: 0.1;
    }
    100%{
        opacity: 0;
    }
}

.sound9 #metalicBackground{
    animation: metalBackgroundShow3 2.1s linear;
}
@-webkit-keyframes metalBackgroundShow3 {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0.1;
    }
    99% {
        opacity: 0.1;
    }
    100%{
        opacity: 0;
    }
}

.sound3 #heartbeatOuter{
    animation: metalRedGlow1 2.7s linear;
}
@-webkit-keyframes metalRedGlow1 {
    0% {
        opacity: 0;
    }
    18% {
        opacity: 0;
    }
    19% {
        opacity: 0.1;
        box-shadow: inset 0px 0px 61px 61px rgba(255,0,0,1);
    }
    59% {
        opacity: 0.1;
        box-shadow: inset 0px 0px 61px 61px rgba(255,0,0,1);
    }
    61%{
        opacity: 0.3;
        box-shadow: inset 0px 0px 61px 61px rgba(255,0,0,1);
    }
    99% {
        opacity: 0.3;
        box-shadow: inset 0px 0px 61px 61px rgba(255,0,0,1);
    }
    100%{
        opacity: 0;
        box-shadow: inset 0px 0px 61px 61px rgba(0,0,0,1);
    }
}

.sound7 #heartbeatOuter{
    animation: metalRedGlow2 2.7s linear;
}
@-webkit-keyframes metalRedGlow2 {
    0% {
        opacity: 0;
    }
    18% {
        opacity: 0;
    }
    19% {
        opacity: 0.1;
        box-shadow: inset 0px 0px 61px 61px rgba(255,0,0,1);
    }
    59% {
        opacity: 0.1;
        box-shadow: inset 0px 0px 61px 61px rgba(255,0,0,1);
    }
    61%{
        opacity: 0.3;
        box-shadow: inset 0px 0px 61px 61px rgba(255,0,0,1);
    }
    99% {
        opacity: 0.3;
        box-shadow: inset 0px 0px 61px 61px rgba(255,0,0,1);
    }
    100%{
        opacity: 0;
        box-shadow: inset 0px 0px 61px 61px rgba(0,0,0,1);
    }
}

.sound9 #heartbeatOuter{
    animation: metalRedGlow3 2.1s linear;
}
@-webkit-keyframes metalRedGlow3 {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0.1;
        box-shadow: inset 0px 0px 61px 61px rgba(255,0,0,1);
    }
    39% {
        opacity: 0.1;
        box-shadow: inset 0px 0px 61px 61px rgba(255,0,0,1);
    }
    41% {
        opacity: 0.3;
        box-shadow: inset 0px 0px 61px 61px rgba(255,0,0,1);
    }
    99% {
        opacity: 0.3;
        box-shadow: inset 0px 0px 61px 61px rgba(255,0,0,1);
    }
    100%{
        opacity: 0;
        box-shadow: inset 0px 0px 61px 61px rgba(0,0,0,1);
    }
}

.sound11 #heartbeatOuter{
	animation: whistle1 42.6s linear;
}
@-webkit-keyframes whistle1 {
	0% {
        opacity: 0;
    }
    99.7%{
    	opacity: 0.8;
    }
    100%{
    	opacity: 0;
    }
}
.sound11 #content{
	animation: contentMoveToCenterV1 42.6s linear;
}
@-webkit-keyframes contentMoveToCenterV1 {
	0% {
        padding-top: 0px;
    }
    99.7%{
    	padding-top: 10vh;
    }
    100%{
    	padding-top: 0px;
    }
}
.sound11 #content iframe{
	animation: screenGetBigger1 42.6s linear;
}
@-webkit-keyframes screenGetBigger1 {
	0% {
        transform: scale(1, 1);
        padding-bottom: 0px;
    }
    99.7%{
    	transform: scale(1.2, 1.2);
    	padding-bottom: 40px;
    }
    100%{
    	transform: scale(1, 1);
    	padding-bottom: 0px;
    }
}
.sound11 #disturbanceDiv div{
    animation: showDisturbance1 42.5s linear;
}
@-webkit-keyframes showDisturbance1 {
    0% {
        opacity: 0;
        font-size: 50px;
        margin-left: 0px;
    }
    2%{
        margin-left: 35px;
        opacity: 0.02;
        text-shadow: 5px 0px red;
    }
    5%{
        margin-left: -35px;
        opacity: 0.05;
        text-shadow: 0px 5px blue;
    }
    7%{
        margin-left: 35px;
        opacity: 0.07;
        text-shadow: -5px 0px red;
    }
    10%{
        margin-left: -35px;
        opacity: 0.1;
        text-shadow: 0px -5px blue;
    }
    12%{
        margin-left: 35px;
        opacity: 0.12;
        text-shadow: 5px 0px red;
    }
    15%{
        margin-left: -35px;
        opacity: 0.15;
        text-shadow: 0px 5px blue;
    }
    17%{
        margin-left: 35px;
        opacity: 0.17;
        text-shadow: -5px 0px red;
    }
    20%{
        margin-left: -35px;
        opacity: 0.2;
        text-shadow: 0px -5px blue;
    }
    22%{
        margin-left: 35px;
        opacity: 0.22;
        text-shadow: 5px 0px red;
    }
    25%{
        margin-left: -35px;
        opacity: 0.25;
        text-shadow: 0px 5px blue;
    }
    27%{
        margin-left: 35px;
        opacity: 0.27;
        text-shadow: -5px 0px red;
    }
    30%{
        margin-left: -35px;
        opacity: 0.3;
        text-shadow: 0px -5px blue;
    }
    32%{
        margin-left: 35px;
        opacity: 0.32;
        text-shadow: 5px 0px red;
    }
    35%{
        margin-left: -35px;
        opacity: 0.35;
        text-shadow: 0px 5px blue;
    }
    37%{
        margin-left: 35px;
        opacity: 0.37;
        text-shadow: -5px 0px red;
    }
    40%{
        margin-left: -35px;
        opacity: 0.4;
        text-shadow: 0px -5px blue;
    }
    42%{
        margin-left: 35px;
        opacity: 0.42;
        text-shadow: 5px 0px red;
    }
    45%{
        margin-left: -35px;
        opacity: 0.45;
        text-shadow: 0px 5px blue;
    }
    47%{
        margin-left: 35px;
        opacity: 0.47;
        text-shadow: -5px 0px red;
    }
    50%{
        margin-left: -35px;
        opacity: 0.5;
        text-shadow: 0px -5px blue;
    }
    52%{
        margin-left: 35px;
        opacity: 0.52;
        text-shadow: 5px 0px red;
    }
    55%{
        margin-left: -35px;
        opacity: 0.55;
        text-shadow: 0px 5px blue;
    }
    57%{
        margin-left: 35px;
        opacity: 0.57;
        text-shadow: -5px 0px red;
    }
    60%{
        margin-left: -35px;
        opacity: 0.6;
        text-shadow: 0px -5px blue;
    }
    62%{
        margin-left: 35px;
        opacity: 0.62;
        text-shadow: 5px 0px red;
    }
    65%{
        margin-left: -35px;
        opacity: 0.65;
        text-shadow: 0px 5px blue;
    }
    67%{
        margin-left: 35px;
        opacity: 0.67;
        text-shadow: -5px 0px red;
    }
    70%{
        margin-left: -35px;
        opacity: 0.7;
        text-shadow: 0px -5px blue;
    }
    72%{
        margin-left: 35px;
        opacity: 0.72;
        text-shadow: 5px 0px red;
    }
    75%{
        margin-left: -35px;
        opacity: 0.75;
        text-shadow: 0px 5px blue;
    }
    77%{
        margin-left: 35px;
        opacity: 0.77;
        text-shadow: -5px 0px red;
    }
    80%{
        margin-left: -35px;
        opacity: 0.8;
        text-shadow: 0px -5px blue;
    }
    82%{
        margin-left: 35px;
        opacity: 0.82;
        text-shadow: 5px 0px red;
    }
    85%{
        margin-left: -35px;
        opacity: 0.85;
        text-shadow: 0px 5px blue;
    }
    87%{
        margin-left: 35px;
        opacity: 0.87;
        text-shadow: -5px 0px red;
    }
    90%{
        margin-left: -35px;
        opacity: 0.9;
        text-shadow: 0px -5px blue;
    }
    92%{
        margin-left: 35px;
        opacity: 0.92;
        text-shadow: 5px 0px red;
    }
    95%{
        margin-left: -35px;
        opacity: 0.95;
        text-shadow: 0px 5px blue;
    }
    97%{
        margin-left: 35px;
        opacity: 0.97;
        text-shadow: -5px 0px red;
    }
    99.9%{
        opacity: 1;
        margin-left: 0px;
    }
    100%{
        opacity: 0;
    }
}

.sound13 #heartbeatOuter{
	animation: whistle2 43.9s linear;
}
@-webkit-keyframes whistle2 {
	0% {
        opacity: 0;
    }
    3% {
        opacity: 0.4;
    }
    99%{
    	opacity: 1;
    }
    100%{
    	opacity: 0;
    }
}
.sound13 #content{
	animation: contentMoveToCenterV2 43.9s linear;
}
@-webkit-keyframes contentMoveToCenterV2 {
	0% {
        padding-top: 0px;
    }
    3% {
        padding-top: 5vh;
    }
    99%{
    	padding-top: 12vh;
    }
    100%{
    	padding-top: 0px;
    }
}
.sound13 #content iframe{
	animation: screenGetBigger2 43.9s linear;
}
@-webkit-keyframes screenGetBigger2 {
	0% {
        transform: scale(1, 1);
        padding-bottom: 0px;
    }
    3% {
        transform: scale(1.1, 1.1);
        padding-bottom: 20px;
    }
    99%{
    	transform: scale(1.28, 1.28);
    	padding-bottom: 48px;
    }
    100%{
    	transform: scale(1, 1);
    	padding-bottom: 0px;
    }
}
.sound13 #disturbanceDiv div{
    animation: showDisturbance2 43.4s linear;
}
@-webkit-keyframes showDisturbance2 {
    0% {
        opacity: 0;
        font-size: 50px;
        margin-left: 0px;
    }
    2%{
        margin-left: 35px;
        opacity: 0;
        text-shadow: 5px 0px red;
    }
    5%{
        margin-left: -35px;
        opacity: 0.55;
        text-shadow: 0px 5px blue;
    }
    7%{
        margin-left: 35px;
        opacity: 0.57;
        text-shadow: -5px 0px red;
    }
    10%{
        margin-left: -35px;
        opacity: 0.6;
        text-shadow: 0px -5px blue;
    }
    12%{
        margin-left: 35px;
        opacity: 0.62;
        text-shadow: 5px 0px red;
    }
    15%{
        margin-left: -35px;
        opacity: 0.65;
        text-shadow: 0px 5px blue;
    }
    17%{
        margin-left: 35px;
        opacity: 0.67;
        text-shadow: -5px 0px red;
    }
    20%{
        margin-left: -35px;
        opacity: 0.7;
        text-shadow: 0px -5px blue;
    }
    22%{
        margin-left: 35px;
        opacity: 0.72;
        text-shadow: 5px 0px red;
    }
    25%{
        margin-left: -35px;
        opacity: 0.75;
        text-shadow: 0px 5px blue;
    }
    27%{
        margin-left: 35px;
        opacity: 0.77;
        text-shadow: -5px 0px red;
    }
    30%{
        margin-left: -35px;
        opacity: 0.8;
        text-shadow: 0px -5px blue;
    }
    32%{
        margin-left: 35px;
        opacity: 0.82;
        text-shadow: 5px 0px red;
    }
    35%{
        margin-left: -35px;
        opacity: 0.85;
        text-shadow: 0px 5px blue;
    }
    37%{
        margin-left: 35px;
        opacity: 0.87;
        text-shadow: -5px 0px red;
    }
    40%{
        margin-left: -35px;
        opacity: 0.9;
        text-shadow: 0px -5px blue;
    }
    42%{
        margin-left: 35px;
        opacity: 0.92;
        text-shadow: 5px 0px red;
    }
    45%{
        margin-left: -35px;
        opacity: 0.95;
        text-shadow: 0px 5px blue;
    }
    47%{
        margin-left: 35px;
        opacity: 0.97;
        text-shadow: -5px 0px red;
    }
    50%{
        margin-left: -35px;
        opacity: 1;
        text-shadow: 0px -5px blue;
    }
    52%{
        margin-left: 35px;
        text-shadow: 5px 0px red;
    }
    55%{
        margin-left: -35px;
        text-shadow: 0px 5px blue;
    }
    57%{
        margin-left: 35px;
        text-shadow: -5px 0px red;
    }
    60%{
        margin-left: -35px;
        text-shadow: 0px -5px blue;
    }
    62%{
        margin-left: 35px;
        text-shadow: 5px 0px red;
    }
    65%{
        margin-left: -35px;
        text-shadow: 0px 5px blue;
    }
    67%{
        margin-left: 35px;
        text-shadow: -5px 0px red;
    }
    70%{
        margin-left: -35px;
        text-shadow: 0px -5px blue;
    }
    72%{
        margin-left: 35px;
        text-shadow: 5px 0px red;
    }
    75%{
        margin-left: -35px;
        text-shadow: 0px 5px blue;
    }
    77%{
        margin-left: 35px;
        text-shadow: -5px 0px red;
    }
    80%{
        margin-left: -35px;
        text-shadow: 0px -5px blue;
    }
    82%{
        margin-left: 35px;
        text-shadow: 5px 0px red;
    }
    85%{
        margin-left: -35px;
        text-shadow: 0px 5px blue;
    }
    87%{
        margin-left: 35px;
        text-shadow: -5px 0px red;
    }
    90%{
        margin-left: -35px;
        text-shadow: 0px -5px blue;
    }
    92%{
        margin-left: 35px;
        text-shadow: 5px 0px red;
    }
    95%{
        margin-left: -35px;
        text-shadow: 0px 5px blue;
    }
    97%{
        margin-left: 35px;
        text-shadow: -5px 0px red;
    }
    99.9%{
        opacity: 1;
        margin-left: 0px;
    }
    100%{
        opacity: 0;
    }
}


.p6.on{
    animation: p6interrupt 0.3s ease-out;
}
@-webkit-keyframes p6interrupt {
    0% {
        margin-top: -235px;
    }
    95% {
        margin-top: 47px;
    }
    100% {
        margin-top: 45px;
    }
}
.sound6 .p5{
	animation: p5goDownAndUp 2.5s ease-in-out;
}
@-webkit-keyframes p5goDownAndUp {
    0% {
        margin-top: 24px;
        opacity: 1;
    }
    20% {
    	margin-top: 134px;
    	opacity: 0.1;
    }
    40% {
    	margin-top: 134px;
    	opacity: 0.1;
    }
    100% {
        margin-top: 24px;
        opacity: 0.3;
    }
}